    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.keywords }}<meta name="keywords" content="" />{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <meta name="description" content="Reliable and affordable internet service provider in Karve district, offering high quality internet to speed up browsing experience and increase business productivities.">
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}


    <!-- Facebook and Twitter integration -->
    {{ if not .Site.Params.OpenGraph.hide }}
    <meta name="og:site_name" content="{{ .Site.Title }}">
    <meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
    <meta name="og:url" content="{{ .Permalink }}">
    <meta name="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}">
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
    <meta name="twitter:card" content="" />
    {{ end }}
<!--
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
 -->
    <!-- canonical link tag -->
    <link rel="canonical" href="{{ .Permalink }}"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <!-- Pageclip css -->
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Simple Line Icons
    <link rel="stylesheet" href="css/simple-line-icons.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/7e1bd8a852.css">
    <link rel="stylesheet" href="css/style.css">

    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . }}">
    {{ end }}

    <!-- Modernizr JS
    <script src="js/modernizr-2.6.2.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/1a01af5232.js"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
