	<!-- Pageclip -->
	<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
	<!-- Mailchimp Pop up form -->
	<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"0d41aa087dcd01d3b75c7a009","lid":"e4e81b3607","uniqueMethods":true}) })</script>
	<!-- ShareThis -->
	<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bb9dbb5752ef70011efd5ca&product=gdpr-compliance-tool' async='async'></script>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap
	<script src="js/bootstrap.min.js"></script>  -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- unveilEffects -->
	<script src="js/jquery.unveilEffects.js"></script>
	<!-- Google Map -->
	{{ if .Site.Params.contact.map }}
				{{ if .Site.Params.googleMapsApiKey }}
				<script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.googleMapsApiKey }}"></script>
				{{ else }}
				<script src="https://maps.googleapis.com/maps/api/js"></script>
				{{ end }}
			<script src="js/google_map.js"></script>
			{{ end }}
	<!-- Main JavaScript -->
	<script src="js/main.js"></script>
